<footer>
    <div>
        &copy; Ezzie Infosystems 2013 &nbsp;&nbsp; <%= link_to "Terms",   terms_path %>&nbsp;&nbsp;<%= link_to "Privacy",   privacy_path %>&nbsp;&nbsp; <%= link_to "FAQ",   faq_path %>&nbsp;&nbsp; <%= link_to "Help",   help_path %>
        
    </div>
</footer

